.formulario {
  max-width: 500px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: sans-serif;
}

.titulo-formulario {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #2c2c2c;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

select, input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.boton {
  margin-top: 2rem;
  background-color: #00b864;
  color: white;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}



.boton:hover {
  background-color: #009f55;
}
